@charset "utf-8";

/* reset css (주석처리)*/

* {margin:0; padding:0; box-sizing: border-box;}
			/*보더박스: 가로 테두리 굵기를 합쳐서 가로의 픽셀내가 지정한대로 맞춰짐 ㅎ*/
ul, ol {list-style:none;}
a {color:#000; font-size:16px; text-decoration:none;}
a:hover {text-decoration: underline;}
header, footer, nav, section { display : block;}			/*만약에 하위 브라우저에서 열어도 문제 없다*/
address {font-style:normal;}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="botton"],
select {
	padding:0 5px; color:#333; border-radius:1px;				/*보더 래디우스: 모서리를 둥글게~*/
font-size:15px;}
/*select전까지 조건이고 조건에 맞으면 select을 실행하십쇼*/

/*
	:link: 맨처음 링크속성
	:visited:한번 방문했던 속성
	:hover: 마우스위에 올라갔을 때
	:actice  클릭
*/