@charset "utf-8";

/* reset css (주석처리)*/

* {margin:0; padding:0; box-sizing: border-box;}
			/*보더박스: 가로 테두리 굵기를 합쳐서 가로의 픽셀내가 지정한대로 맞춰짐 ㅎ*/
ul, ol {list-style:none;}
a {color:#000; font-size:16px; text-decoration:none;}
a:hover {text-decoration: underline;}
/*
	:link: 맨처음 링크속성
	:visited:한번 방문했던 속성
	:hover: 마우스위에 올라갔을 때
	:actice  클릭
*/