/*본문에 사용하는 스타일시트 작성*/

@charset "utf-8";
/*패딩: 안쪽여백*/
/*
	숫자1개: 상우하좌
	숫자 2개: 상하/좌우
	숫자 3개: 상/좌우/하
	숫자 4개: 상/우/하/좌
	*/

/*side css*/

.hb {border:1px solid #ccc;}
.w1200 {width:1200px; margin:0 auto;}				/*가로 좌우 상하,좌우(오토는 알아서, 가운데정렬이됨 )*/
.side {float:right;}
.side li {float:left; padding:6px 0;}
.side li a {padding:0 12px;}	
.h80 {height:60px;}
/*class: 여러번 사용가능, id: 한번밖에 못씀*/

/*navi css */

.header {border-bottom:1px solid #ccc; padding:20px 0;}		/*나는 헤더라는 클래스*플로트 해도 여백 생김 ㅎ//*아랫줄에만 선 넣고싶어*/
header {width: 1200px; margin:0 auto; overflow:hidden}				/*나는 헤더라는 상위?위?, 오버플로우:히든은 높이값이 알아서 잘 벌어짐*/
header nav ul li {display:inline;}			/*li가 100%였던게 display주문을 걸어서 강제 길이를 인라인으로 조정한다 display는 디폴트값이 있어서 글자끼리 약간 띄여져있음*/
.header nav ul {float:right;}
.logo {float:left; }
.logo a {text-decoration:none; font-size:32px; color:#000;}
.header nav ul li a {font-size:20px; padding:0 60px;}
.header nav ul li:nth-child(4) a {padding-right:0;}				/*a테그중에 네번째요소를 오른쪽 안쪽여백을 0으로 주고싶다*/

/*main visual css*/

.w100 {width:100%;}

/*contents css*/

.wrap-list { width:1200px; margin:0 auto; padding:60px 0; /*overflow:hidden;*/ }
.wrap-list:after {contents:""; display:block; clear:both;}						/*css에서 패딩이랑 마진을 동시에 쓸 수 없어 그때 다른방법으로 접근해야하는데 after라고 해서 사이트가 실행되면 클래스가 실행되게 하는게 있음*/
.wrap-list .notice-title, .wrap-list .notice1, .wrap-list .notice2, .wrap-list .notice3 {width:277.5px; border:1px solid #ccc; padding:18px; height:300px; float:left; margin-right:30px;}
.wrap-list .notice3 {margin-right:0;}					/*이걸 안하면 노티스3은 다음으로 남어감*/
.wrap-list ul li {cursor: pointer; text-align: center;}
.wrap-list ul li: nth-child(1) {background: url(../images/box1.jpg) no-repeat center center; background-size: 100% 100%; transition:all 0.5s;}
.wrap-list ul li: nth-child(2) {background: url(../images/box2.jpg) no-repeat center center; background-size: 100% 100%; transition:all 0.5s;}
.wrap-list ul li: nth-child(3) {background: url(../images/box3.jpg) no-repeat center center; background-size: 100% 100%; transition:all 0.5s;}
.wrap-list ul li: nth-child(4) {background: url(../images/box4.jpg) no-repeat center center; background-size: 100% 100%; transition:all 0.5s;}
.wrap-list ul li: hover {background-size: 110% 110%;}
.wrap-list ul li p.txt20 {font-size: 20px; color: #585858;}
.wrap-list ul li p.txt40 {font-size: 40px; color: #585858; margin-top: 20px;}
.wrap-list ul li p.txt17 {font-size: 17px; color: #585858; margin-top: 50px;}


/* footer css*/
footer {clear:both;margin-top:100px; padding:40px;background:#ccc; }


/* login css*/
.contents {width: 1200px; margin:0 auto; padding:100px 0; clear:both;}
.formbox {width:500px; height:330px; padding: 40px; border-top:1px solid #39f;
 border-left:1px solid #ddd; border-right:1px solid #ddd; 
 border-bottom:1px solid #ddd; margin:100px auto 100px auto; position:relative;}		/*로그인 박스 스타일 시트*/
 .login_form {position:absolute; top:105px; left:40px;}
 
 /*
 position 
 절대위치: 바디의 시작점(왼쪽위)를 (0,0)로 잡고 배치 ㄱㄱ
 상대위치:기준점이 있어야함 그 점으로 상대적으로 배치,내가 그 기준점이 된다, 부모는 상대위치로 자식은 절대위치로 잡는다*/
 
 .formbox h2 {font-size:24px; color:#333;}
.formbox input {border:0; height:40px; width:220px; background:#ececec;}
.formbox .btn_login { position:absolute; top:105px; right:30px; width:98px; height:84px; line-height:84px; background:#3399ff; color:#fff; text-align:center;}
/*로그인버튼의 로그인 글자를 정가운데에 정렬할려면?  height의 픽셀과 line-height의 픽셀을 같게, text-align:center라고 하면 됨 ㅎ*/
.formbox label {width:85px; color:#333; display:inline-block}				/*깔끔하게 보일려고 이짓하는중...ㅎ*/
/*라벨은 인라인 요소이다 그래서 width가 안먹혀 그래서! 꼭 display:block을 써줘야 한다, 자 근데 하나 더 있다 인라인속성과 블럭요소의 css를 쓰고싶을때..>디스플레이-블럭*/
.f1_clear {margin:0 0 4px;}
.member_box {position:absolute; top:200px; left:40px;}

/*member css*/

table, th, td { padding:16px 5px;}
.w80{width:80%;}
.member_table {width:100%;}
.member_table th {text-align: left;}

/* product_contents */

.product_contents {overflow:hidden;}
.product_contents h2 {font-size:22px; color:#585858; text-align:center; padding-bottom:15px;}
.product_contents p {font-size:16px; color:#D8D8D8; text-align:center; padding-bottom:100px;}
.product_contents ul li {float:left; width:380px; margin-right:30px; margin-bottom:40px;}
.product_contents ul li: nth-child(3n) {margin-right: 0;}				/*3번째 li요소는 오른쪽 마진을 0으로 줘라 왜냐면 전부 마진 30주면 넘쳐나*/
.product_contents .pro_title {font-size:16px; font-weight:bold; display: block; margin-bottom: 18px;}
.product_contents .pro_cont {color:#BDBDBD; line-height:160%;}
.product_contents .se_txt {vertical-align:top;}
.product_contents .btn_submit{border:0; padding:10px 5px; background:#81DAF5; vertical-align:top;}
.search_form {padding: 50px 0; text-align:right;}

/*page css*/

.page {text-align:center;}
.page a {display:inline-block; padding:10px; border:1px solid #ccc;}
